[submodule "Api-para-Protocolo-de-Controle-de-Baixo-n-vel"]
	path = Api-para-Protocolo-de-Controle-de-Baixo-n-vel
	url = https://github.com/igorsnunes/Api-para-Protocolo-de-Controle-de-Baixo-n-vel.git
[submodule "BPMApp/src/submodules"]
	path = BPMApp/src/submodules
	url = https://github.com/igorsnunes/Api-para-Protocolo-de-Controle-de-Baixo-n-vel.git
